<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">
            Title
        </label>
        <input id="title" type="text" formControlName="title">
    </div>
    <div>
        <label for="isbpn">
            ISBPN
        </label>
        <input id="isbpn" type="text" formControlName="isbpn">
    </div>
    <div>
        <label for="author">
            Author
        </label>
        <input id="author" type="text" formControlName="author">
    </div>
    <div>
        <label for="description">
            Description
        </label>
        <input id="description" type="text" formControlName="description">
    </div>
    <div>
        <label for="category">
            Category
        </label>
        <input id="category" type="text" formControlName="category">
    </div>
    <div>
        <label for="edition">
            Edition
        </label>
        <input id="edition" type="text" formControlName="edition">
    </div>
    <div>
        <label for="publisher">
            Publisher
        </label>
        <input id="publisher" type="text" formControlName="publisher">
    </div>
    <div>
        <label for="publishedDate">
            Published Date
        </label>
        <input id="publishedDate" type="text" formControlName="publishedDate">
    </div>
    <div>
        <label for="officialUrl">
            Official URL
        </label>
        <input id="officialUrl" type="text" formControlName="officialUrl">
    </div>
    <div>
        <label for="price">
            Price
        </label>
        <input id="price" type="number" formControlName="price">
    </div>
    <button type="submit">Save Changes</button>
</form>