<app-top-bar></app-top-bar>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>ISBPN</th>
            <th>Author</th>
            <th>Category</th>
            <th>Edition</th>
            <th>Publisher</th>
            <th>Published</th>
            <th>Offcial URL</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{ book.title }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.isbpn }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.edition }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.publishedDate }}</td>
            <td>{{ book.officialUrl }}</td>
            <td>{{ book.price }}</td>
            <td><button>Edit</button> <button>Delete</button></td>
        </tr>
    </tbody>
</table>